<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.email }}">
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="shortcut icon" href="{{ '/images/favicon.ico' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/bower_components/bootswatch/cerulean/bootstrap.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->

	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{{ '/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/bower_components/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/bower_components/knockout.js/knockout.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>\
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</head>