<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ '/index.html' | prepend: site.url }}">HOME</a></li>
        {% for category in site.categories %}
        <li><a href="{{ '/index.html' | prepend: category[0] | prepend: '/categories/' | prepend: site.url }}">{{category[0] | upcase}}</a></li>
        {% endfor %}
        <li><a href="{{ '/index.html' | prepend: '/geek' | prepend: site.url }}">GEEK</a></li>
        <li><a href="{{ site.about }}">ABOUT</a></li>
      </ul>
    </div>
  </div>
</div>